@model Employee;
<div class="container">
    <div class="row my-3">
        <div class="col-9">
            <h1>Edit an Employee</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form asp-action="Edit" method="post">
                <div class="mb-2">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="mb-2">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="mb-2">
                    <label asp-for="Designation"></label>
                    <input asp-for="Designation" class="form-control" />
                </div>
                <div class="mb-2">
                    <label asp-for="Salary"></label>
                    <input asp-for="Salary" class="form-control" />
                </div>
                <div class="d-flex gap-3">
                    <button type="submit" class="btn btn-primary w-50">Update</button>
                    <a asp-action="Index" class="btn btn-secondary w-50">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>